.banner {
    background-image: url("../images/banner.jpg");
	background-color: black;
	color: white;
	height: 250px;
	width: 100%;
}

.nameText {
    text-align: center;
	font-size: 400%;
}

.subHead {
	text-align: center;
	font-size: 200%;
	padding-top: 50px;
}

.subText {
	text-align: center;
	font-size: 125%;
}

.navbar {
	background-color: black;
	height: 40px;
	width: 100%;
	font-size: 150%;
	position: absolute;
	color: white;
	text-align: center;
}

.navbarItem {
	display: inline-block;
	background-color: black;
	color: white;
    width: 200px;
    height: 40px;
	text-align: center;
}

.navbarItemHover {
	display: inline-block;
	background-color: #e1e1d0;
	color: black;
    width: 200px;
    height: 40px;
	text-align: center;
}

.about {
	background-color: #e1e1d0;
	color: black;
	width: 100%;
}

.aboutImage {
	background-image: url("../images/galexyBackground.jpg");
	width: 100%;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.projects {
	background-color: white;
	color: black;
	width: 100%;
}

.subProject {
	text-align: center;
}

.subProjectText {
	text-align: center;
}

.subProjectImage {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#projectInfo1, #projectHead1 {
    padding: 5px;
    text-align: center;
    background-color: #e1e1d0;
}

#projectInfo1 {
    padding: 50px;
    display: none;
}

#projectInfo2, #projectHead2 {
    padding: 5px;
    text-align: center;
    background-color: #c3c3a2;
}

#projectInfo2 {
    padding: 50px;
    display: none;
}

#projectInfo3, #projectHead3 {
    padding: 5px;
    text-align: center;
    background-color: #e1e1d0;
}

#projectInfo3 {
    padding: 50px;
    display: none;
}

.skillItem {
	display: inline-block;
	color: black;
    width: 200px;
    height: 40px;
	text-align: center;
	font-size: 125%;
}

.skillBackground1 {
	background-color: #e1e1d0;
	width: 100%;
}

.skillBackground2 {
	background-color: #c3c3a2;
	width: 100%;
}

.education {
	background-color: #e1e1d0;
	color: black;
	width: 100%;
	text-align: center;
}

.experience {
	background-color: white;
	color: black;
	width: 100%;
}

.contact {
	background-color: #e1e1d0;
	color: black;
	width: 100%;
}